body {
    background: linear-gradient(to right, #ffafbd, #ffc3a0);
}

h2 {
  font-size: 125px;
}

.jumbotron {
  margin: 20px;
    background: transparent;
  font-family: 'Permanent Marker', cursive;
}
